@import "reset";
@import "variables";
@import "mixins";

// Global styles
* {
  font-family: $fontDefault;
}
body {
  background-color: $backgroundColor;
}
.error-message {
  color: $red;
  font-size: $errorTextSize;
  margin-top: 5px;
}
.chart-container {
  & > div {
    width: 90%;
  }
}
// Used to fast rewrite canvas component props
canvas {
  width: 100% !important;
}
