@import "reset";
@import "variables";
@import "mixins";

// Global styles
* {
  font-family: $fontDefault;
}
body {
  background-color: $backgroundColor;
}
.error-message {
  color: $red;
  font-size: $errorTextSize;
  margin-top: 5px;
}
