// Colors
$blue: #39ACDC;
$red: #EC3646;
$green: #57B93E;
$textColor: #333;
$placeholderColor: #AAA;
$borderColor: #CCC;
$backgroundColor: #EEE;

// Fonts
$fontDefault: Arial, Helvetica, sans-serif;

// Text sizing
$titleTextSize: 24px;
$labelTextSize: 12px;
$headerTextSize: 18px;
$buttonTextSize: 14px;